<button ng-click="playPause()" ng-class="statusPlayer"></button>

<div id="painel">
	<button ng-click="avancar()" id="avancar"></button>
	<button ng-click="config()" id="config"></button>
	<button ng-click="voltar()" id="voltar"></button>
</div>

<!--
<button onclick="javascript: document.getElementById('player').pause()">Pause</button>
<button onclick="javascript: document.getElementById('player').volume += 0.1">Aumenta Volume</button>
<button onclick="javascript: document.getElementById('player').volume -= 0.1">Diminui Volume</button>
-->

<audio class="player" id="player">
</audio>

<div id="tocandoAgora">
	Tocando agora:<br>
	<marquee id="nomeDaMusica" >{{tocandoAgora}}<marquee>	
</div>